@import '../../styles/variables';

.Schedule {
  justify-content: center;
  background-color: $color-1;

  .schedule-greeting {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: $color-2;
  }

  .schedule-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .change-schedule-view-btn-container {
    display: flex;  
    justify-content: center;
    .change-schedule-view-btn {
      background-color: $color-3;
    }
  }
}
