@import '../../styles/variables';

.Menu {
  display: block;
  background-color: $color-2;

   .menu-category-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     background-color: $color-3;
   }
}
